<div class="container container-xl">
    <div class="row">
        <div class="keyword-container">
            <div class="keyword-inner-container">
                <h3 class="keyword-heading">Mosaic magic:</h3>
                <ul class="navbar-keywords shuffle">
                    <li{% if current == 'videos' %} class="active"{% endif %}><a href="/keywords/videos">Videos</a></li>
                    <li{% if current == 'leadership' %} class="active"{% endif %}><a href="/keywords/leadership">Leadership</a></li>
                    <li{% if current == 'quotes' %} class="active"{% endif %}><a href="/keywords/quotes">Quotes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
