{% extends './layout/base.html' %}

{% block head %}
    <script src="js/scroll-reveal.js"></script>
{% endblock %}

{% block title %}
    <title>Older is not wiser... | Mr Simon Cohen</title>
{% endblock %}

{% block main %}
    <main role="main" id="main" class="main-container">

        {% include 'nav-keywords.html' %}

        <!-- section-1 -->
        <section class="full-screenx section-1">
            <div class="container section-container">

              <div id="section1-heading1" class="animation-placeholder animated fadeIn">
                <h2 class="heading font-size-lg">Older is not wiser...</h2>
              </div>

              <div id="section4-image1" class="animation-placeholder">
                  <div class="trigger" id="section4-image1-trigger">trigger</div>

                  <img class="img-responsive" src="/media/13350545_1190050174445854_4668704229982243677_o.jpeg" alt="Raya Smiling">

                  <p>We’re told that as we get older, we get wiser. Wisdom studies agree that life experience is a crucial part of what it means to be wise. But anyone who has spent serious time with a baby will know that this hypothesis is flawed. Babies are not blank wisdom slates, debilitated by lack of experience, but mindfulness masters masquerading as dribbling fools. Now that I have my own little girls, I am more convinced than ever about the wisdom of babies. Babies are transfixed by what is right in front of them: a leaf, a face, a hand - little wonder their brains operate at the same frequency as meditating adults. There is no greater gift than being present, and babies are awesome teachers about how to be truly in the moment. All leaders can learn from the wisdom of our little people.</p>
              </div>

            </div>
        </section>

    </main>
{% endblock %}
